/* general colors */
a {color:blue;}
body {color:#fff; background:#000 url('images/Midnight_cherry.png');}
button { background:transparent; color:#fff; }
#external_wrap {background:url('images/Midnight_cherry_hover.png'); background-repeat:no-repeat; background-size:100% auto; background-position:center center;}

/* background color for box element */
.background_chat, .background_login { background:#202020; box-shadow:0 0 5px #000;}
.background_box { background:#fff; color:#111; border:none;}
.background_menu_footer { background:#111; border-top:1px solid #222;}
.panels { background:#202020; box-shadow:0 0 5px #000; }
#chat_error { background:#111; }
#inner_header, #header_login  { background: url('logo/Midnight_cherry_logo.png'); background-repeat:no-repeat; background-size:auto 100%; background-position:left center; }
#menu_private { background:#000;}

/* chat logs switch colors */
.log1 {	background:none; }
.log2 { background:#f5f5f5; }
.ch_logs { border-bottom:none;}

/* separator colors */
.user_separator { border-bottom:1px solid #333; }
.user_option_separator { border-bottom:1px solid #444; }
.top_separator { border-top:1px solid #323232; }
.right_separator { border-right:1px solid #444; }
.bottom_separator { border-bottom:1px solid #111; }

/* user list drop down colors */
.user_option_list { background:#181818; color:#fff; }

/* button and element colors */
.sub_button { background:#111; color:#fff;}
#submit_button { background: #9a0000; color:#fff;} /* this is main button send */
.sub_element { background:#111; color:#fff;}
.empty_element { background:#540202; color:#fff; }
.selected_element { background:#9a0000; color:#fff; }
.hover_element:hover { background:#db3b3b; color:#fff;}

/* ads background */
#show_chat_ads { background:#222 !important;}

/* special colors and sub colors */
.error { color:red;}
.success { color:green;}
.away { color:#6e0101; }
.my_notice { background:#ffff99; padding:3px;}
.sub_color2 { color:#db3b3b;}
.sub_color { color:#db3b3b; }
.room_userin { color:#666; }
.hide_private_title { color:#ccc; }
.wrap_command:hover { background:#444 !important; }
.wrap_command { background:#111; }
.tooltip:hover:before, .tooltip2:hover:before, .tooltip3:hover:before { border-color: #444 transparent;}
.tooltip:hover:after, .tooltip2:hover:after, .tooltip3:hover:after { background: none repeat scroll 0 0 #444; color: #fff;}

/* private chat color message */

.target_private {color:#fff; background:#333;}
.hunter_private {color:#fff; background:#03add8;}

/* inside chat color */
.datechat {color:#666;}
.me {color:#003366; background:#E8F2FC;}
.global { color:#5f1d1d; background:#ffecec;}
.private { color:#294229; background:#daf0da;}
.private_reply { background:#8ea68e; color:#fff;}
.seen { color:#3f2d4f; background:#eeeaf2;}
.delete_log, .logs_date {color:#ccc;}

/* user color and special user color */
.system { color:#666 !important;}
.admin{ color:#fa5b5b;}
.sadmin { color:red; }
.modo  {color:#0066ff !important;}
.vip {color:#009966;}
.user {color:#555;}
.guest {color:f67003;}

/* color picker and tools bar */

.bar_options{ border-left:1px solid #222; border-right:1px solid #110000;} /* change the bar element separator */
#picker_box, #list_emoticon { background:#111; box-shadow:0 0 5px #000;} /* change the background color of box */
.sel_item { background:#333;} /* change background of element when selected on bar */
.pick_color, #smile_content, .wrap_picker { border-left:1px solid #111; border-bottom:1px solid #222; border-top:1px solid #111; border-right:1px solid #222; } /* change border of element and subelement */
#smile_content { background:#fff;} /* change background of emoticon content */

/* user list hover name */

.usertarget:hover { color:#fff !important; opacity:1; }
.open_user { background:#111; }