/* general colors */
a {color:blue;}
body {color:#fff; background:#065b9c url('images/Corporate.png');}
button { background:transparent; color:#fff; }

#external_wrap {background:url('images/Corporate_hover.png'); background-repeat:no-repeat; background-size:100% auto; background-position:center center;}

/* background color for box element */
.background_chat, .background_login { background:#034476; box-shadow:0 0 5px #011626;}
.background_box { background:#fff; color:#111; border:none;}
.background_menu_footer { background:#012a49; border-top:1px solid #03477a; }
.panels { background:#034476; box-shadow:0 0 5px #011626; }
#chat_error { background:#111; }
#inner_header, #header_login  { background: url('logo/Corporate_logo.png'); background-repeat:no-repeat; background-size:auto 100%; background-position:left center; }
#menu_private { background:#000;}

/* chat logs switch colors */
.log1 {	background:none; }
.log2 { background:#f5f5f5; }
.ch_logs { border-bottom:none;}

/* separator colors */
.user_separator { border-bottom:1px solid #03fd37; }
.user_option_separator { border-bottom:1px solid #01467b; }
.top_separator { border-top:1px solid #035ea4; }
.right_separator { border-right:1px solid #035ea4; }
.bottom_separator { border-bottom:1px solid #011626; }

/* user list drop down colors */
.user_option_list { background:#01243f; color:#fff; }

/* button and element colors */
.sub_button { background:#029120; color:#fff;}
#submit_button { background: #029120; color:#fff;} /* this is main button send */
.sub_element { background:#02771b; color:#fff;}
.empty_element { background:#01b928; color:#fff; }
.selected_element { background:#dea600; color:#fff; }
.hover_element:hover { background:#02d22d; color:#fff;}

/* ads background */
#show_chat_ads { background:#222 !important;}

/* special colors and sub colors */
.error { color:red;}
.success { color:green;}
.away { color:#014c85; }
.my_notice { background:#ffff99; padding:3px;}
.sub_color2 { color:#dea600;}
.sub_color { color:#dea600; }
.room_userin { color:#fff; }
.hide_private_title { color:#ccc; }
.wrap_command:hover { background:#02d22d !important; }
.tooltip:hover:before, .tooltip2:hover:before, .tooltip3:hover:before { border-color: #02d22d transparent;}
.tooltip:hover:after, .tooltip2:hover:after, .tooltip3:hover:after { background: none repeat scroll 0 0 #02d22d; color: #fff;}

/* private chat color message */

.target_private {color:#fff; background:#029120;}
.hunter_private {color:#fff; background:#FF9900;}

/* inside chat color */
.datechat {color:#666;}
.me {color:#003366; background:#E8F2FC;}
.global { color:#5f1d1d; background:#ffecec;}
.private { color:#294229; background:#daf0da;}
.private_reply { background:#8ea68e; color:#fff;}
.seen { color:#3f2d4f; background:#eeeaf2;}
.delete_log, .logs_date {color:#ccc;}

/* user color and special user color */
.system { color:#666 !important;}
.admin{ color:#03a1c8;}
.sadmin { color:#027c9b; }
.modo  {color:#b840fd !important;}
.vip {color:#c89c03;}
.user {color:#01330b;}
.guest {color:#7b8e73;}

/* color picker and tools bar */

.bar_options{ border-left:1px solid #035ea4; border-right:1px solid #011626;} /* change the bar element separator */
#picker_box, #list_emoticon { background:#111; box-shadow:0 0 5px #000;} /* change the background color of box */
.sel_item { background:#ff9900;} /* change background of element when selected on bar */
.pick_color, #smile_content, .wrap_picker { border-left:1px solid #111; border-bottom:1px solid #222; border-top:1px solid #111; border-right:1px solid #222; } /* change border of element and subelement */
#smile_content { background:#fff;} /* change background of emoticon content */

/* user list hover name */

.usertarget:hover { color:#fff !important; opacity:1; }
.open_user { background:#02d22d; }
.user_option_list .hover_element:hover { background:#011d33; }